<% if documents.empty? %>
 <li><%= empty %></li>
<% else %>
 <% for document in documents %>
  <li>
   <h3 class="item fn"><%= link_to_if(linked, document.title, :controller => "legacy_documents", :action => "show", :id => document) %></h3>
   <p><%= document.description %></p>
   <% if document.uploaded? %>
    <div class="details">
     <span class="size"><%= number_to_human_size(document.size) %></span>
     <span class="length"><%= format_time(document.duration) %></span>
    </div>
   <% end %>
   <% unless document.tags.empty? and document.download_count.zero? %>
   <div class="tags">
     <% for tag in document.tags %>
       <%= link_to(tag.name, { :action => "tag", :name => tag.name }, :title => "Etiquette : #{tag.name}", :rel => "tag") %>
     <% end %>

     <% unless document.download_count.zero? %>
     <span class="download_count">
       <%= pluralize(document.download_count, 'écoute') %>
     </span>
     <% end %>
   </div>
   <% end %>
   <% if actions %>
    <div class="actions">
     <% unless document.casts.empty? %>
	     <%= link_to("Ecouter", {:action => "listen", :id => document }, :title => "Ecouter le document", :class => "listen") %>
	   <% end %>
     <%= link_to("Télécharger", {:action => "download", :id => document }, :title => "Télécharger votre fichier", :class => "download") if document.uploaded?  %>
     <%= link_to("Déposer", {:action => "upload", :id => document}, :title => "Déposer votre fichier", :class => "upload") %>
     <%= link_to("Détruire", {:action => "destroy", :id => document}, :confirm => "Êtes vous sûr de vouloir détruire ce document ?", :title => "Détruire ce document", :class => "destroy") %>
     <%= link_to("Partager", {:action => "share", :id => document}, :title => "Partager ce document", :class => "share") %>
     <%= link_to("Editer", {:action => "edit", :id => document}, :title => "Editer ce document", :class => "edit") %>
	  </div>
   <% end %>
  </li>
 <% end %>
<% end %>
