<%= error_messages_for(:document) %>
<h2>Ajouter votre document</h2>

<%= form_tag(:action => :add) do %>
 <%= render :partial => 'form' %>
 <%= submit_tag "Creer votre document" %> ou <%= link_to("annuler", { :action => "manage" }, :title => "Annuler", :class => "blue") %>
<% end %>
