<h2>Publier votre document</h2>

<p>
Sur une application tierce (comme <%= link_to "Bonnes-Ondes", "http://bonnes-ondes.fr" %>), indiquez l'identifiant AudioBank suivant : <strong><%= @document.id %></strong>.
</p>

<br/>

<% if @document.uploaded? %>
 <% if @document.casts.empty? %>
  <p>Le contenu publiable sera disponible dans quelques minutes.</p>
 <% else %>
  <p>
    Pour publier votre document dans un site internet, utilisez l'adresse suivante: <%= link_to public_cast_url(@document), public_cast_url(@document) %>
  </p>
  <% if @document.protected_casts? %>
  <br/>
  <p>
    <strong>Attention</strong>: ce document dispose d'un accès protégé, cette adresse ne fonctionnera que si elle est accompagnée d'une clé d'accès.
  </p>
  <% end %>
 <% end %>
<% else %>
 <p>Le contenu publiable sera disponible dès que vous aurez <%= link_to("déposé votre fichier", {:action => "upload", :id => @document }) %></p>
<% end %>

  <br/>

<hr/>

<h2>Partager votre document</h2>
<ul>
 <%= render :partial => "legacy_documents/documents", :object => Array(@document), :locals => { :linked => true, :empty => "Aucun document ne correspond ...", :actions => false, :tags => false } %>
</ul>
<hr/>

<h4>Ont accès à ce document :</h4>

<%= form_tag(:action => :edit, :id => @document) do %>
  <%= text_field("document", "subscriber_tokens", :size => 30, :class => "token_input", :data => { :populate => tokenize_subscribers(@document.subscribers).to_json, :theme => "users", :url => url_for(:controller => "legacy_documents", :action => "auto_complete_for_subscribers", :id => @document) }) %>

 <%= submit_tag "Modifier le partage" %> ou <%= link_to("annuler", { :action => "show", :id => @document}, :title => "Annuler", :class => "blue") %>
<% end %>
