<%= error_messages_for(:document) %>
<h2>Déposer votre fichier</h2>
<ul>
 <%= render :partial => "legacy_documents/documents", :object => Array(@document), :locals => { :linked => true, :empty => "Aucun document correspondant n'a été trouvé ...", :actions => false, :tags => false } %>
</ul>
<p class="note icon">Les formats supportés sont : ogg/vorbis, flac, mp3.</p>
<hr/>
<h4>Avec votre navigateur :</h4>
<%# Need to this this plugin %>
<%= form_tag({:action => "upload"}, :multipart => true) do %>
 <p><label for="document_file">Fichier :</label><br/>
 <%= file_field "document", "file" %></p>

 <%= submit_tag "Déposer votre fichier" %> ou <%= link_to("le faire plus tard", { :action => "share", :id => @document}, :title => "Déposer votre fichier plus tard", :class => "blue") %>
<% end %>
<hr/>

<h4>Avec un client ftp :</h4>

<%= form_tag({:action => :upload, :id => @document}) do %>
<%= hidden_field_tag "mode", "ftp" %>
<p>Déposer votre fichier dans ce répertoire :<br/>
<a target="_new" href="<%= @document.upload.public_url %>"><%= @document.upload.public_url %></a></p>
<%= submit_tag "Confirmer le dépôt" %> ou <%= link_to("le faire plus tard", { :action => "share", :id => @document}, :title => "Déposer votre fichier plus tard", :class => "blue") %>
<% end %>

<p class="note icon">Vous pouvez utiliser <a href="http://fireftp.mozdev.org/">FireFTP</a> avec FireFox,
<a href="http://filezilla.sourceforge.net/">FileZilla</a> sous Windows ou <a href="http://www.cyberduck.ch/">Cyberduck</a> sous Mac</p>
