<h2>AudioBank<sup>beta</sup></h2>
<ul>
 <li><%= link_to("Gérer vos documents", :controller => "legacy_documents", :action => "manage", :page => nil) %></li>
 <li><%= link_to("Ajouter un document", :controller => "legacy_documents", :action => "add") %></li>
</ul>
<ul>
 <li><%= link_to("Consulter vos souscriptions", :controller => "subscriptions", :action => "manage", :page => nil) %></li>
</ul>

<ul>
 <li><%= link_to("Gérer vos groupes", :controller => "group", :action => "manage", :page => nil) %></li>
 <li><%= link_to("Ajouter un groupe", :controller => "group", :action => "add") %></li>
</ul>

<h2>Recherchez</h2>
<%= form_tag({:controller => :users, :action => :find }, :id => "search") do %>
 <%= text_field_tag("keywords", @keywords) %>
 <%= image_submit_tag("search.png", :class => "image") %>
<% end %>
<h2>Participez</h2>
<p>
<em>AudioBank se fait avec vous</em>.
</p>
<p>
 Consultez le <a href="http://wiki.tryphon.eu/audiobank/start">wiki</a> des utilisateurs
 et rejoignez la <a href="http://lists.tryphon.org/cgi-bin/listinfo/audiobank-users">mailing-list</a> des utilisateurs</li>
 </ul>
</p>
