<%= error_messages_for("user") %>
<h2>Votre nouveau compte</h2> 
<%= form_tag(:action => :signup) do %>
 <p><label for="user_username">Nom d'utilisateur :</label><br/>
 <%= text_field("user", "username") %></p>
 <p><label for="user_email">Email :</label><br/>
 <%= text_field("user", "email") %></p>
 <p><label for="user_name">Nom :</label><br/>
 <%= text_field("user", "name") %></p>
 <p><label for="user_password">Mot de passe :</label><br/>
 <%= password_field("user", "password") %></p>
 <p><label for="user_organization">Organisme :</label><br/>
 <%= text_field("user", "organization") %></p>
 <%= submit_tag "Creer un compte" %>
<% end %>
