<%= error_messages_for(:group) %>
<h2>Modifier un groupe</h2>
<%= form_tag(:action => :edit) do %>
 <p><label for="group_name">Nom :</label><br/>
 <%= text_field("group", "name") %></p>
 <p><label for="group_description">Description :</label><br/>
 <%= text_area("group", "description", :rows => 10, :cols => 28) %></p>
 <%= submit_tag "Modifier votre groupe" %> ou <%= link_to("annuler", { :action => "manage" }, :title => "Annuler", :class => "blue") %>
 
 
 
<% end %>
