<!DOCTYPE html>
<html>
  <head>
    <title><%= @document.title %> - AudioBank</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= favicon_link_tag %>

    <script src="http://player.tryphon.eu/v2/player.js"></script>
    <%= javascript_include_tag "casts" %>
    <%= stylesheet_link_tag    "casts", :media => "all" %>

    <%= stylesheet_link_tag @cast.player_css_url if @cast.player_css_url.present? %>
  </head>
  <body>
    <div class="audiobank tryphon-player <%= 'autoplay' if params[:autoplay].in?('true','1') %> <%= @document.tags.map { |t| "audiobank-#{t.name}" }.join(' ') %> frame">
      <div class="content">
        <a class="main" href="<%= url_for action: 'play', name: @cast.name, only_path: false, token: params[:token] %>">
          <span class="author"><%= @document.author.name %></span>
          <span class="title"><%= @document.title %></span>
        </a>
        <span class="links"></span>
        <a class="popup" href="<%= url_for action: 'play', name: @cast.name, only_path: false, token: params[:token] %>" target="_blank"></a>
        <span class="duration"><%= format_duration @document.duration %></span>
        <span class="peak left"><span class="level"></span></span>
        <span class="peak right"><span class="level"></span></span>
        <span class="bar"><span class="progress"></span></span>
      </div>
    </div>
  </body>
</html>
